# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64


click=8.0.1
flask=2.0.1
gunicorn=20.1.0
itsdangerous=2.0.1
jinja2=3.0.1
ld_impl_linux-64=2.35.1
libffi=3.3
libgcc-ng=9.3.0
libgomp=9.3.0
libstdcxx-ng=9.3.0
markupsafe=2.0.1
ncurses=6.2
openssl=1.1.1k
pip=21.1.2
python=3.8.5
readline=8.1
setuptools=52.0.0
sqlite=3.35.4
tk=8.6.10
werkzeug=2.0.1
wheel=0.36.2
xz=5.2.5
zlib=1.2.11
